<component name="libraryTable">
  <library name="app">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/JDK_demos_8u66/src/sample/jnlp/webpad/war/app/jlfgr__V1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/JDK_demos_8u66/src/sample/jnlp/webpad/war/app/jhcore__V1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/JDK_demos_8u66/src/sample/jnlp/webpad/war/app/holidays__V1.0.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>